.list-group {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.input-group {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}


#plusbtn {
    border-radius: 50%;
    margin-left: 10px;
}

#searchForm {
    margin-top: 50px;
}