.list-group {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
}

.list-group:hover {
    overflow-y: scroll;
}

.messageContainer {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

#plusbtn {
    border-radius: 50%;
    margin-left: 10px;
}

#searchForm {
    margin-top: 50px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}